/* Your CSS Code here. */
*{
	box-sizing: border-box;
/* 	margin:0px; */
/* 	padding:0px; */
}

.holder{
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
}
.holder>div{
	width: 100px;
	height: 100px;
}
.green{
	text-align: center;
	padding: 20px;
	background:green;
	font-size: 50px;
	font-weight:500;
}
.red{
	text-align: center;
	padding: 20px;
	background:red;
	font-size: 50px;
	font-weight:500;
}
.blue{
	text-align: center;
	padding: 20px;
	background:blue;
	font-size: 50px;
	font-weight:500;
}